<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Who won?</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href = "/">Welcome page</a></li>


      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
